*{
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 1600px;
    max-height: 1080px;

}

body{
    
    background: linear-gradient(90deg, rgb(175, 11, 66), rgb(201, 94, 121), rgb(175, 11, 66));
    /*background: linear-gradient(90deg,  rgb(157, 6, 67, .70),  rgba(249, 225, 235, 0.7),  rgb(157, 6, 67, .70));   */
}

header{
    background: linear-gradient(90deg, pink, white, pink);
    /*box-shadow: 2px 2px rgb(51, 10, 44);*/
    border: 5px solid rgb(252, 241, 241, .5);
    display: flex;
    width: 100vw;
    justify-content: flex-start;
    align-items: flex-end;
}
h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 8em ;
    color: aliceblue;
    text-shadow: 3px 2px 2px rgb(51, 10, 44);
}

h2{
    padding-left: 0.4em;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 4em ;
    color: rgb(79, 10, 88);
    text-shadow: 1px 2px 2px rgb(255, 255, 255);
}

main{
    width: 100%;
    padding: 0.3em 0px;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: nowrap;
                    
}

aside{
    font-size: 2.5em;
    color: aliceblue;
    width: 40vw;
    height: 78vh;/*
    background-color: rgb(157, 6, 67, .70);*/
}
aside p{
    border: rgb(79, 10, 88);
    font-family: 'Caveat', cursive;
    margin:0.5em;
    text-align: justify;
    color: rgb(220, 206, 210);
    text-shadow: 1px 2px black;
}

.main1{
    width: 35vw;
    height: 78vh;/*
    background-color: rgb(157, 6, 67, .70);*/
    align-self: center;
    justify-self: center;
}

.main2{
    width: 25vw;
    height: 78vh;/*
    background-color: rgb(157, 6, 67, .70);*/
    align-self: center;
    justify-self: center;
}

main li{ 
    list-style-type: none;
    text-align: right;
    font-family: 'Merienda One', cursive;
}
#li1 {
    transform: rotate(20deg);
}
#li2 {
    transform: rotate(10deg);
    object-position: 5px 10%;

}
#li3 {
    transform: rotate(5deg);
}

#li4 {
    transform: rotate(-5deg);
}

#li5 {
    transform: rotate(-10deg);
}

#li6 {
    transform: rotate(-20deg);
}

ul a{
    padding: 30px;
    text-decoration: none;
    display: inline-block;
    color: aliceblue;
    font-size: 2em;
    
}

main ul a:hover{
    transition: all;
    transition: 0.2s;
    font-size: 2.3em;
}


.vale{
    max-height: 71vh;
    filter: drop-shadow(4px 0px 4px rgb(41, 4, 20));
    transition: all 0.3s;
}

.vale:hover{
    transition: all;
    transition: 1s;
    max-height: 72vh;
    filter: drop-shadow(0 0 40px rgb(248, 240, 197) );
}

@keyframes ejemplo{
    /*
    20% {background: linear-gradient(90deg, white, rgb(209, 102, 120), rgb(209, 102, 120))}
    40% {background: linear-gradient(90deg, rgb(209, 102, 120), white, rgb(209, 102, 120))}
    60% {background: linear-gradient(90deg, rgb(209, 102, 120), rgb(209, 102, 120), white)}
    80% {background: linear-gradient(90deg, pink, rgb(209, 102, 120), pink)}
*/
}
footer{
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 8vh;
    background: linear-gradient(90deg, pink, white, pink);
    
    /*animation: ejemplo 5s linear 1s infinite normal forwards;*/
}

footer ul{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
h3{
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgb(45, 5, 50);
    font-size: 2em;}

footer ul a{
    align-self: center;
    color: rgb(79, 10, 88);
}

footer li{
    list-style-type: none;
}

footer li:after {
    content: attr(data-link);
    opacity: 0;
    transition: 0.5s opacity;
    color: rgb(79, 10, 88);
    font-size: large;
}
footer li:hover:after {
    opacity: 1;

}

