*{
    margin: 0%;
    padding: 0%;
}
html{
    font-size: 62.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 430px;
    min-height: 530px;
}

body{
    background: linear-gradient(90deg, rgb(175, 11, 66), rgb(201, 94, 121), rgb(175, 11, 66));
    box-sizing: border-box;
}


header{
    background: linear-gradient(90deg, pink, white, pink);
    box-shadow: 0px 0.5rem 1rem rgb(92, 18, 36);
    /*box-sizing: border-box;*/
    width: 100%;
    
    display: flex;
    
    justify-content: flex-start;
    align-items: flex-end;
    height: 12vh;
}
h1{
    font-family: 'Kaushan Script', cursive;
    font-size: 7rem ;
    color: aliceblue;
    text-shadow: 3px 2px 2px rgb(51, 10, 44);
}

h2{
    padding-left: 0.5rem;
    text-align: center;
    font-family: 'Caveat', cursive;/*
    font-family: 'Tangerine', cursive;*/
    font-size: 3rem;
    color: rgb(79, 10, 88);
    text-shadow: 1px 2px 2px rgb(255, 255, 255);
}

main{
    box-sizing: content-box;
    width: 100%;
    height: 80vh;
    padding: 0.4rem 0px;
    display: flex;
    justify-content: space-between;
    
    align-content: stretch;
    align-items: stretch;
    flex-wrap:nowrap;
                    
}

.nav1{
    width: 30vw;
    margin:0;
    height: 80vh;
    
}
.nav1 ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav1 li{ 
    z-index: 3;
    list-style-type: none;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px 4px rgb(45, 5, 50);
    
    
}


.nav1 ul a{
    
    padding: 2rem 2rem;
    text-decoration: none;
    color: aliceblue;
    font-size: 2.7rem;
    display: inline-block;
    
}

.nav1 ul a:hover{
    transition: ease-in-out;
    min-width: 25vw;
    transition: 0.5s;
    padding-left: 1rem;
    font-size: 3rem;
    background-color: rgb(248, 174, 186, 0.3);
    color: rgb(255, 255, 255);
    box-shadow: 1rem 1rem 1rem rgb(90, 5, 37);
    
    
}

h4{
    font-size: 4rem;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 0rem 0rem 1rem rgb(248, 197, 209);
}
.cuerpo{
   
    justify-self: center;
    width: 70vw;
    max-height: 75vh;
    
    font-size: 2rem;
    /*
    text-shadow: 0.3rem 0.1rem 0.5rem rgb(70, 9, 32);*/
    display: flex;
    justify-content: center;
    align-self: center;

}
/*BIOGRAFIA*/

.bio{
    width: 70vw;
    box-sizing: border-box;
    padding: 0rem 6rem 0rem 1rem;
}
.bio p{
    
    padding: 1rem;
    color: antiquewhite;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;

}
.bio img{
    height: 6rem;
    margin: 0rem 3rem;
    
}
.chico:hover{
   
    position: sticky;
    filter: drop-shadow(1rem 1rem 0.5rem rgb(85, 12, 36));
    transition: 0.5s;
    height: 10rem;
    
    
}
.grande:active{
    z-index: 99;
    position: relative;
    
    box-shadow: 0rem 0rem 0.5rem 0.4rem rgb(255, 249, 240);
    
    transform: translateY(0%) scale(1);
    height: 32rem;
    transition: 1s ease-in-out;
}

/*BIOGRAFIA*/


.Trabajos{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contratame{
    padding: 2rem;
    text-align: center;
    font-size: 4rem;
}
#grillo{
    
    width: 10rem;
}

h5{
    font-size: 4rem;
    font-family: 'Kaushan Script', cursive;
}
.perfiles{
    height: 75vh;
}
.carousel-item ul{
    display: inline;
}
.carousel-item p {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
}
.carousel-item li, .carousel-item a {
    text-decoration: none;
    display: inline;
    color: aliceblue;
    padding: 0.5rem 0.3rem;
}

.valeimg{
    width: 25vw;
    height: 78vh;
    align-self: center;
    justify-self: flex-start;
    
}
.vale{
    max-height: 74vh;
    margin: 1rem 5rem 1rem 0rem;
    filter: drop-shadow(4px 0px 4px rgb(41, 4, 20));
    transition: all 0.3s;
}

.vale:hover{
    transition: all;
    transition: 1s;
    max-height: 75vh;
    filter: drop-shadow(0 0 40px rgb(248, 240, 197) );
}

/*HOBBIES*/

.dhobbies{
    width: 65vw;
    padding: 1rem;
    text-align: justify;
    height: min-content;

}
.dhobbies li{
    margin: 2rem;
    list-style-type: circle;
    font-size: 2rem;
    color: whitesmoke;
    word-spacing: 0.02rem;
}
.uhobbies img{
    height: 25rem;
    margin: 1rem;
    border: 0.1rem solid whitesmoke;
}
.galeria{
    margin: 1rem;
    
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.fhobbies{
    box-sizing: content-box;
    margin: 0.5rem;
    background-color: rgb(49, 15, 27, 0.5);
    padding: 1rem;
}
/*HOBBIES*/

/*PRODUCCIONES*/

.pdiv{
    
    height: fit-content;
    width: 60vw;

}
#margen{
    margin-bottom: 5rem;
}
h6{
    font-size: 3rem;
    text-align: left;
}

.pdiv li{
    list-style-type: none;
    padding: 1rem;
    text-decoration: none;
    word-spacing: 0.5rem;
    
    
}
.pdiv iframe {
    width: 45rem;
    height: 30rem;
    border: 0.4rem inset rgba(247, 222, 229, 0.6);
    margin-bottom: 2rem;
    
    
}
/*PRODUCCIONES*/


/*FOOTER*/

footer{
    
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 6vh;
    background: linear-gradient(90deg, pink, white, pink);
    box-shadow: 0px -0.5rem 1rem rgb(44, 9, 17);
    
}

footer ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

h3{
    color: whitesmoke;
    text-shadow: 0rem 0.1rem 0.4rem rgb(0, 0, 0);
    font-size: 2.1rem;
    margin-top: 1.1rem;
    
}

footer ul a{
    padding: 1rem;
    color: rgb(79, 10, 88);
}

footer li{
    list-style-type: none;
}

footer a:hover {
    color: rgb(219, 148, 160);
  }
  
#chico{
    font-size: 1.4rem;
    align-self: center;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
}  

#grande li:after {
    content: attr(data-link);
    opacity: 0;
    transition: 0.5s opacity;
    color: rgb(219, 148, 160);
    font-size: large;
    font-weight: bold;
    margin-left: 0.5rem;
}
#grande li:hover:after {
    opacity: 1;

}

@media screen and (max-width:640px) {
   html{
    font-size: 40%;
   }
   .vale{
       max-height: 45vh;
   }
   .vale:hover{
       max-height: 47vh;
   }
   #grande{
       visibility: hidden;
       height: 0vh;
       width: 0vw;
   }
   #grande li:after {
       content: none;
       font-size: 0;
   }
   #f-h3{
    font-size: 0;
    visibility: hidden;
    height: 0vh;
    width: 0vw;
}
}


@media screen and (max-width:1024px) and (min-width:640px) {
    html{

    font-size: 50%;
  }
  .vale{
    max-height: 52vh;
}
.vale:hover{
    max-height: 55vh;
}
  #grande{
      visibility: hidden;
      height: 0vh;
  }
}

@media screen and (min-width:1024px) {
    html{
        font-size: 62.5%;
    }
    #chico{
        visibility: hidden;
        height: 0vh;
        width: 0vw;
    }
}